
.DS_Store
build
codecov
*.xcuserdatad
.vscode/settings.json
Brewfile.lock.json

/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc