
.DS_Store
build
codecov
*.xcuserdata
.vscode/settings.json
Brewfile.lock.json

/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.netrc

.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata